body {
    font-family:  Helvetica, Arial, sans-serif;
}

body > header {
    background-color: dodgerblue;
    color: white;
    padding: 1px;
}

header > nav > ul > li > a {
    color: white;
    
}
header > nav > ul {
    list-style: none;
}

main > section > a {
    color: black;
    text-decoration: none;
    
}

main > form > textarea {
    max-width: 100%;
}